{
    "server_id": "VertAirComm",
    "server_ip": "::",
    "public_host": "de-server.fly.dev",
    "server_sid": 0,
    "server_port": 8080,
    "enable_SSL": false,
    "ignoreLoadingTasks": true,
    "allow_udpproxy_fixed_port": true,
    "s2s_ws_target_ip": "authenticator.internal",
    "s2s_ws_target_port": 19001,
    "s2s_info_heartbeat_interval": 30000,
    "ssl_key_file": "./ssl/domain.key",
    "ssl_cert_file": "./ssl/domain.crt",
    "allow_fake_SSL": true,
    "ca_cert_path": "./ssl/root.crt",
    "ignoreLog": true,
    "log_directory": "./logs/",
    "log_timeZone": "America/New_York",
    "log_detailed": false,
    "ws_compression": false,
    "memory_max": 256
}